<html>
    <head><title>Complete profile</title></head>
    <body>
        <form action="/completeProfile" method="POST">
        
            <label for="dp">Profile Picture</label>
            <input type="file" name="dp"/><br/><br/>

            <label for="cover">Cover Pic</label>
            <input type="file" name="cp"/><br/><br/>

            <label for="phone">Phone</label>
            <input type="number" name="phone"/><br/><br/>

            <label for="username">Username</label>
            <input type="text" name="username"/><br/><br/>

            

        </form>
    </body>
</html>