<html>
    <head>
        <title>Login to Facebook</title>
    </head>

    <body>
        <form method="POST" action="/verify">
        <input type="text" name="email" placeholder="Email"/><br/>
        <input type="password" name="password" placeholder="Password"/><br/>

        <input type="checkbox" name="loggedin"/>Remember me<br/>
        <input type="submit" value="Login"/>
        
        </form><br/>
        New to Facebook? <br/> <a href="/signup">SignUp</a>
    </body>
</html>