<html>
<head>
<title>Welcome to Facebook</title>
</head>
<body>
    
 <form action="/AddUser" method="POST" enctype="text/plain">   
<input type="text" name="firstname" placeholder="First Name"/><br/>
<input type="text" name="lastname" placeholder="Last Name"/><br/>
<input type="text" name="email" placeholder="Email"/><br/>
<input type="number" name="age" placeholder="Age"/><br/>
<input type="radio" name="gender" value="Male"/>Male<br/>
<input type="radio" name="gender" value="Female"/>Female<br/>
<input type="password" name="pass" placeholder="Choose a password"/><br/>
<input type="submit" value="Sign up"/> 
</form><br/>
        Have an account? <br/> <a href="/login">Login</a>
</body>

</html>